* {
    margin: 0;
    padding: 0;
}

/* MENU DE NAVEGACION */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.nav-item {
    padding: 5px 8px;
}

.nav-link {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.select {
    background-color: #FF6752;
    border-radius: 10px;
}

/* cabecera */

.carousel-inner {
    width: 100%;
    height: 500px;
}

/* seccion */
.cuartos {
    width: 100%;
    height: 380px;
    margin-top: 20px;
    background-color: royalblue;
    border: 1px solid;
}

.cuartos h2 {
    font-size: 40px;
    font-family: comic sans MS;
}

.fotos {
    height: 260px;
    background-color: saddlebrown;
    border: 1px solid;
    float: left;
}

.fotos img {
    margin: 11px 18px;
    width: 90%;
    height: 230px;
}

.fotos img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn {
    margin: 8px;
}

@media (max-width: 992px) {

    .cuartos {
        height: 350px;
        margin-top: 10px;
    }
    
    .fotos {
        height: 230px;
    }
    
    .fotos img {
        margin: 11px 15px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .cuartos {
        height: 310px;
        margin-top: 10px;
    }
    
    .fotos {
        height: 185px;
    }
    
    .fotos img {
        margin: 11px;
        height: 160px;
    }
}

@media (max-width: 576px) {
    .cuartos {
        height: 775px;
        margin-top: 10px;
    }
    
    .cuartos h2 {
        font-size: 25px;
    }

    .fotos {
        height: 220px;
    }
    
    .fotos img {
        width: 70%;
        margin: 11px 75px;
        height: 190px;
    }
}

@media (max-width: 360px) {
    .cuartos {
        height: 790px;
        margin-top: 10px;
    }
    
    .cuartos h2 {
        font-size: 25px;
    }

    .fotos {
        width: 100%;
        height: 220px;
    }
    
    .fotos img {
        width: 90%;
        margin: 11px 15px;
        height: 180px;
    }
}