* {
    margin: 0;
    padding: 0;
}

/* MENU DE NAVEGACION */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.etiqueta {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav-item {
    padding: 5px 8px;
}

.nav-link {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section h2 {
    margin: 30px 0;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section h3 {
    margin: 20px 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section p {
    margin: 20px 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form {
    width: 65%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 4px;
    font-family: 'calibri';
    color: #ffffff;
    box-shadow: 7px 13px 37px #000;
}

form label {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form input {
    width: 100%;
    padding: 3px;
}

form textarea {
    height: 150px;
    max-height: 220px;
}

form button {
    padding: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: #00ffff;
    border: 2px solid #00ffff;
    border-radius: 10px;
}

footer {
    height: 95px;
    background-color: #00129E;
}

footer p {
    margin: 27px 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    display: block;
}

footer p a {
    text-decoration: none;
}

footer span {
    margin: 22px 20px;
    float: right;
    display: block;
}

footer span a {
    text-decoration: none;
}

footer span i {
    margin-right: 10px;
}

@media (max-width: 992px) {
    form {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    form {
        width: 85%;
    }

    footer {
        height: 160px;
        background-color: #00129E;
    }

    footer span {
        margin: 10px 20px;
        float: left;
        display: block;
    }
}

@media (max-width: 576px) {
    form {
        width: 88%;
    }

    section p {
        font-size: 20px;
    }

    footer {
        height: 155px;
    }

    footer span {
        margin: 10px 20px;
        float: left;
        display: block;
    }

    footer p {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    form {
        width: 97%;
    }

    footer {
        height: 185px;
    }

    footer span {
        margin: 10px 20px;
        float: left;
        display: block;
    }

    footer p {
        font-size: 18px;
    }
}