#social img:hover{
    animation-name: animacion 1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: animacion1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate ;
}
@keyframes animacion1{

    0%{
        transform:scale(1);
    }
    33%{
        transform:scale(0.5);
    }
    66%{
        transform:scale(1);
    }
    100%{
        transform: scale(1.5);
    } 
}

#menu li:hover{   
     animation-name: animacion 2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-name: animacion2;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate ;
}
@keyframes animacion2{

    
    100%{
        transform: scale(1.5);
    } 
}

footer{
    margin-top: 20px ;
}
.cabezera{
    width: 50%;
    background-color: blue;
    margin-top: 20px;
}

@media (max-width: 992px) {
    .cabezera {
        width: 90%;
    }

    .carta iframe {
        width: 90%;
    }

    #centar{
        margin: 0 -1px;
        padding: 20px;
    }

    div.card {
        width: 150%;
    }
}

@media (max-width: 768px) {
    .cabezera {
        width: 90%;
    }

    .carta iframe {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .cabezera {
        width: 90%;
    }

    .carta iframe {
        width: 90%;
    }

    #centar{
        margin: 0 -10px;
        padding: 20px;
    }

    div.card {
        width: 110%;
    }
}

@media (max-width: 360px) {
    .cabezera {
        width: 80%;
    }

    .carta iframe {
        width: 80%;
    }

    #centar{
        margin: 0 -10px;
        padding: 20px;
    }

    div.card {
        width: 110%;
    }
}